# requirements.txt
fastapi
uvicorn[standard]
python-multipart
celery
pika # RabbitMQ driver, often needed by Celery
pymongo
jinja2 # For serving the HTML template
numpy
lightning
hydra-core
nemo_toolkit
torch
lhotse
jiwer